@model List<Logic.Dto.DtoAuditLog>

<table class="table">
    <thead>
        <tr>
            <th>Date</th>
            <th>User</th>
            <th>Door</th>
            <th>Audit Type</th>
            <th>Extra Data</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var log in Model)
        {
            <tr>
                <td>@log.Date</td>
                <td>@log.UserName</td>
                <td>@log.DoorName</td>
                <td>@log.AuditType</td>
                <td>@log.ExtraData</td>
            </tr>
        }
    </tbody>
</table>